{% extends "base.html" %}

{% if user.username %}


{% block map %}
	{% if user.is_authenticated %}
		<div class="form-actions">
			{% csrf_token %}
			<button type="submit" class="btn btn-primary" name="add_friend" onclick="addfriend();">Add Friend</button>
			<button type="submit" class="btn btn-primary" name="save_zone" onclick="savezone();">Save Zones</button>
	    </div>
	    <div id="map_canvas" style="width:80%; height:80%"></div>
    {% endif %}
{% endblock %}
  

{% else %}
    <h1> Please Login </h1>


{% endif %}

{% block content %}
<h1>Hey {% if user.username %}{{ user.username }} ID: {{ user.id }}
{% else %} {{ user.username }} {% endif %}!</h1>
{% endblock %}
